body{
    height: 100%; 
    width: 100%; 
}

body::after {
    content: "";
    background: url("pult.jpg");
    opacity: 0.6;
    background-size: 1500px 100%;
    background-repeat: no-repeat;
    top: 0;
    left: -50px;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

#title{
    color:coral;
    font-family: "papyrus";
    background-color:#34568B;
    width: 80vw;
    text-align: center;
    margin-top: 8vh;
    /* margin:auto; */
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#links{
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: 7vh 7vh 7vh 7vh;
    grid-row-gap: 10px;

}

.link{
    text-align:center;
    color:coral;
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

/* #cryptolink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#markovlink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#parabolalink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#ellipselink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#boxPicslink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#pokemonlink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#walklink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#gamelink{
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}  */