body{
    height: 100%; 
    width: 100%; 
    /* overflow: hidden;  */
    margin: 20;
    margin-left:20px;
    /* background: url("kanto.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
}

body::after {
    content: "";
    background: url("../img/matrix.jpg");
    opacity: 0.3;
    background-size: 1500px 100%;
    background-repeat:no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

#instructions{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
}

#omess{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
    word-wrap:break-word;
}

#numberMessage{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
    word-wrap:break-word;
}

#encryptedNumbers{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
    word-wrap:break-word;
}

#decryptedNumbers{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
    word-wrap:break-word;
}

#decryptedMessage{font-family: "papyrus";
    color:coral;
    width: 65%; 
    padding: 10px;
    background-color: #34568B;
    border-radius: 15px;
    word-wrap:break-word;
}
